body {
    margin: 0px;
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h1 {
    width: 960px;
    margin: 20px auto;
 }

h3 {
    margin-top: 0px;
}

p {
    font-size: 17px;
    text-align: justify;
}

.container {
    width: 960px;
    margin: 0px auto;
    padding: 20px 20px;
    border: 1px solid gray;
    display: flex;
    flex-wrap: nowrap; 
}

img {
    width: 150px;
    padding-right: 10px;
    margin-top: 30px;
    transition: 0.5s;
}

.container:hover img {
    transform: scale(1.1);
}

.question {
    font-size: 18px;
}

.like {
    color: white;
    font-size: 18px;
    margin-left: 15px;
    transition: color 0.5s linear;
}

.container:hover .like {
    color: black;
}

.heart {
    color:white;
    transition: color 0.5s linear;
}

.container:hover .heart {
    color:red;
}

.prise {
    width: 70%;
    padding-left: 15px;
    
}

.first_prise {
    color: orange;
    font-size: 20px;
    margin-bottom: 10px;

}

.buy {
    background-color: orange;
    color: white;
    border: none;
    width: 180px;
    padding: 10px;
    margin-bottom: 10px;
}

.container:hover .one_click {
    background-color: green;
    color: white;
    border: none;
}

.one_click {
    background-color: white;
    color: white;
    border: none;
    width: 180px;
    padding: 10px;
    transition: 0.5s;
}

.more {
    margin-bottom: 5px;
}

